---
layout: page
title: Canyon Pintado
image: carousel/WavingHands-Margaret-Slaugh-2019-2.jpg
permalink: /canyon-pintado
---
    <div class="col">
      <div class="row  mb-5">
        <div class="col-9">
          {% include GT-header.html %}

          <h1>{{page.title}}</h1>

          <p><strong>Cost: $150 per person (Discount for Vets) - Lunch and Drinks included</strong></p>

          <p>Canyon Pintado or Painted Canyon, has been occupied by prehistoric people for as long as 11,000 years and was repeatedly visited by a variety of cultures
          throughout its long history. Located in northwest Colorado, in a small rural town called Rangely, the Canyon provides the largest concentration of Fremont
          archaeological sites along the Dinosaur Diamond.</p>

          <p>Canyon Pintado is listed on the <a href="" target="_blank">National Register of Historic Places</a> and is noted for the Domínguez–Escalante expedition,
          Spanish missionaries in search of a route to California in 1776, passed through this region as they moved north and then west into Utah. You can find more than
          fifty archaeological sites featuring  petroglyphs and pictographs on the sheer sandstone walls that were left by Fremont and Ute civilizations long before
          Europeans explored the West.</p>

          <p>If this has you excited and you want to learn more and hear the history from people that have lived during these times book a
          <strong>Guided Tour</strong>.</p>

          {% include Prepaired.html %}
        </div>
        <div class="col border border-dirt border-top-0 border-right-0 border-bottom-0">
          {% include GT-nav.html %}
        </div>
      </div>
    </div>
