---
layout: page
title: Canyon Pintado
image: carousel/WavingHands-Margaret-Slaugh-2019-2.jpg
permalink: /canyon-pintado
---
    <div class="col">
      <div class="row  mb-5">
        <div class="col-9">
          {% include GT-header.html %}

          <h1>{{page.title}}</h1>

          <p><strong>Cost: $150 per person (Discount for Vets) - Lunch and Drinks included</strong></p>

          <p>Canyon Pintado or Painted Canyon, has been occupied by prehistoric people <-- for as long as 11,000 years --> and was
          repeatedly visited by a variety of cultures throughout its long history. Located in northwest Colorado, near the small
          town of Rangely, the Canyon provides the largest concentration of Fremont archaeological sites along the Dinosaur Diamond.</p>

          <p>There are eight (8) main rock art formation along this trail: Lookout Point, East Four-mil Draw, State Bridge Draw,
          Cow Canyon, White Birds, Kokopelli, Waving Hands, South Orientation Center.</p>


          <p class="text-center">If you are interested in learning more about the history of the rock art in Canyon Pintado, book a <strong><a href="{{site.url}}/book-guided-tour">Guided Tour</a></strong>.</p>

        </div>
        <div class="col border border-dirt border-top-0 border-right-0 border-bottom-0">
          {% include GT-nav.html %}
        </div>
      </div>
    </div>
