---
layout: page
title: Canyon Pintado
image: carousel/WavingHands-Margaret-Slaugh-2019-2.jpg
permalink: /canyon-pintado
---
    <div class="col">
      <div class="row  mb-5">
        <div class="col-9">
          {% include GT-header.html %}

          <h1>{{page.title}}</h1>

          <p><strong>Cost: $150 per person (Discount for Vets) - Lunch and Drinks included</strong></p>

          <p>Canyon Pintado or Painted Canyon, has been occupied by prehistoric people and was repeatedly visited by a variety of cultures throughout its long history.
          Located in northwest Colorado, near the small town of Rangely, the Canyon provides the largest concentration of Fremont archaeological sites in Canyon Pintado.</p>

          <p>There are eight (8) main rock art formation along this trail: Lookout Point, East Four-mil Draw, State Bridge Draw,
          Cow Canyon, White Birds, Kokopelli, Waving Hands, South Orientation Center.</p>

          <hr />

          <div class="row">
            <div class="col">
              <figure class="figure">
                <img src="{{site.url}}/assets/images/canyon-pintado/Lookout-Point.JPG" class="figure-img img-fluid rounded" alt="Lookout Point">
             
              </figure>
            </div>

            <div class="col">
              <figure class="figure">
                <img src="{{site.url}}/assets/images/canyon-pintado/Four-Mile.jpg" class="figure-img img-fluid rounded" alt="East Four-mil Draw">
            
              </figure>
            </div>

            <div class="col">
              <figure class="figure">
                <img src="{{site.url}}/assets/images/canyon-pintado/state-bridge.JPG" class="figure-img img-fluid rounded" alt="State Bridge Draw">
            
              </figure>
            </div>

            <div class="col">
              <figure class="figure">
                <img src="{{site.url}}/assets/images/canyon-pintado/Cow-Canyon.JPG" class="figure-img img-fluid rounded" alt="Cow Canyon">
           
              </figure>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <figure class="figure">
                <img src="{{site.url}}/assets/images/canyon-pintado/White-Birds.JPG" class="figure-img img-fluid rounded" alt="White Birds">
         
              </figure>
            </div>

            <div class="col">
              <figure class="figure">
                <img src="{{site.url}}/assets/images/canyon-pintado/Kokopelli.jpg" class="figure-img img-fluid rounded" alt="Kokopelli">
          
              </figure>
            </div>

            <div class="col">
              <figure class="figure">
                <img src="{{site.url}}/assets/images/canyon-pintado/Waving-Hands-Margaret-Slaugh-2019.jpg" class="figure-img img-fluid rounded" alt="waving hands">
          
              </figure>
            </div>
            <div class="col">
              <figure class="figure">
                <img src="{{site.url}}/assets/images/canyon-pintado/Waving-Hands-Margaret-Slaugh-2019.jpg" class="figure-img img-fluid rounded" alt="South Orientation Center">
           
              </figure>
            </div>
          </div>

        <!--   <p class="text-center">If you are interested in learning more about the history of the rock art in Canyon Pintado, book a <strong><a href="{{site.url}}/book-guided-tour">Guided Tour</a></strong>.</p> -->

        </div>
        <div class="col border border-dirt border-top-0 border-right-0 border-bottom-0">
          {% include GT-nav.html %}
        </div>
      </div>
    </div>
