---
layout: page
title: Dragon Trail
permalink: /dragon-trail
---
    <div class="col">
      <div class="row">
        <div class="col-9">
          {% include GT-header.html %}

          <h1>{{page.title}}</h1>

          <p><strong>Cost: $150 per person (Discount for Vets) - Lunch and Drinks included</strong></p>

          <p>Tour overview here</p>

          {% include Prepaired.html %}
        </div>
        <div class="col border border-dirt border-top-0 border-right-0 border-bottom-0">
          {% include GT-nav.html %}
        </div>
      </div>
    </div>
