---
layout: page
title: Dragon Trail
image: DC-building.jpg
permalink: /dragon-trail
---
    <div class="col">
      <div class="row mb-5">
        <div class="col-9">
          {% include GT-header.html %}

          <h1>{{page.title}}</h1>

          <p><strong>Cost: $150 per person (Discount for Vets) - Lunch and Drinks included</strong></p>

          <p>Dragon Trail will lead us out of town to petroglyphs identified to be of Ute and Fremont origin dating as far back as 2,000 years.
          This tour will be mostly on gravel or maintained dirt roads and is a bit rugged.</p>

          <p>There are four (4) main rock art formation along this trail: Shield Site, Fremont Ridge, Crook's Brand, and Carrot Men.</p>

          <hr />

          <h2>Ghost Towns</h2>

          <p>We like to share the history of these small ghost towns as our guide has roots in Dragon City.</p>

          <p>Dragon City, Utah was founded around 1888 as a Gilsonite mining camp. It was an end-of-line town for the Uintah Railway.
          The town received its name by the mine forming the shape of a dragon along the surface of the ground, and the operation was named
          the Black Dragon Mine.</p>

          <p>The town developed slowly and over time they had a depot, warehouse, locomotive shops, store, boarding house, homes,
          schoolhouse, two saloons, and a barbershop. Toll roads were built to access surrounding towns like Vernal and Fort Duchesne.
          As the mining started to deplete by the early 1900s the railway to extend northwest along Evacuation Creek establishing a new
          town called Watson with a spur line to the southwest to Rainbow making Watons the center of the gilsonite mining. However,
          Dragon City remained the stable population center do to the railroad's shops, roundhouse and large sheep shearing pens.</p>

          <p class="text-center">If you are interested in learning more about the history of the rock art along Dragon Trail, book a <strong><a href="{{site.url}}/book-guided-tour">Guided Tour</a></strong>.</p>

        </div>
        <div class="col border border-dirt border-top-0 border-right-0 border-bottom-0">
          {% include GT-nav.html %}
        </div>
      </div>
    </div>
