---
layout: page
title: Guided Tours
permalink: /guided-tours
---
    <div class="col">
      <div class="row">
        <div class="col-9">
          {% include GT-header.html %}

          <h1>{{page.title}}</h1>

          <p><strong>Cost: $150 per person (Discount for Vets) - Lunch and Drinks included</strong></p>

          <p>Your tour will start out at the Rangely Outdoor Musemn and end at the Rangely Automotive Musemn to bring you full circle
          from a time when native indians hunted this land to modern man hunting this land. Your guide is one of a few folks left that
          have personal stories about growing up in the Colorado wild west. She will tell you stories, behind the petroglyphs and ghost
          towns, that have been pass down through the ages around campfires and thanksgiving tables. Stories that come from personal family
          history of the area and growing up in rural America.</p>

          {% include Prepaired.html %}
        </div>
        <div class="col border border-dirt border-top-0 border-right-0 border-bottom-0">
          {% include GT-nav.html %}
        </div>
      </div>
    </div>
