---
layout: page
title: Guided Tours
image: jayne.jpg
permalink: /guided-tours
---
    <div class="col">
      <div class="row  mb-5">
        <div class="col-9">
          {% include GT-header.html %}

          <h1>{{page.title}}</h1>

          <div class="row">
            <div class="col-8 mt-3">
              <p><strong>Cost: $150 per person (Discount for Vets) - Lunch and Drinks included</strong></p>
            </div>
            <div class="col">
              <a href="" target="_blank" title="Download PDF Map of the Tour" class="btn btn-md btn-danger">Tour Map</a>
            </div>
          </div>

          <p>For best viewing experience and accessibility, our Guided Rock Art Tours operate April 1st  - November 1st.</p>

          <p>Your tour will start at the Rangely Outdoor Museum and end at the Rangely Automotive Museum to bring you full circle
          from a time when Native Americans hunted this land to modern man hunting this land. Your guide is one of a few folks left that
          have personal stories about growing up in the Colorado wild west. </p>

          <p>She will tell you stories, behind the rock art and ghost towns, that have been passed down through the ages around
          campfires, brandings, and BBQs. Stories that come from personal family history of the area and growing upon a family ranch.</p>


          <p>Canyon Pintado and Dragon Trail are listed on the <a href="" target="_blank">National Register of Historic Places</a> and area
          noted for the Lewis and Clark, and Domínguez and Escalante expedition, Spanish missionaries in search of a route to California in 1776, passed through
          this region as they moved north and then west into Utah.</p>

          <p>You can find more than fifty archaeological sites featuring petroglyphs and pictographs on the sheer sandstone walls that
          were left by Fremont and Ute civilizations long before Europeans explored the West. During your guided rock art tours, we are
          going to visit twelve (12) of the different sights between <a href="{{site.url}}/canyon-pintado">Canyon Pintato</a> and
          <a href="{{site.url}}/dragon-trail">Dragon Trail</a>.</p>

          <hr />

          <h2>Weather Permitting</h2>

          <p>Due to our unique weather, we may have to postpone our departure time or cancel a tour from heavy rains washing out the
          road or making the mud to difficult and unsafe for travel. If we have a head-up we will do our best to let you know ahead of time.
          Unfortunately, mother nature can surprise us with a downpour at the last minute.</p>

          {% include Prepared.html %}


        </div>
        <div class="col border border-dirt border-top-0 border-right-0 border-bottom-0">
          {% include GT-nav.html %}
        </div>
      </div>
    </div>
