---
layout: default
---

  {% include carousel.html %}


<main id="content" role="main" class="container-fluid m-0 p-0">

  <!-- First Parallax Section -  -->
  <div class="paral paralsec1 border-top border-bottom border-dark">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="display-3">{{site.title}}</h1>

        <p class="lead">The tours will take you back in time to a place, not so long ago, where Native Americans once lived before
        the land gave way to family ranches and one-room schoolhouses. Your guide is one of a few folks left that have personal stories about growing up in the Colorado wild west. She will tell
        you stories, behind the rock art and ghost towns, that have been passed down through the ages around campfires, branding and
        BBQ's. Stories that come from personal family history of the area and growing up in the remote moutains of Northwestern Colorado.</p>

        <p><a href="{{site.url}}/guided-tours" title="Take a guied tour" class="btn btn-lg btn-danger">Learn the unique hidden history of Colorado.</a></p>
      </div>
    </div>
  </div>

  <!-- Second Parallax Section - CTA -->
  <div class="paral paralsec2">
    <div class="d-flex justify-content-around">
      <div class="py-5 ">
        <div class="container">
          <div class="row">

            <div class="col-md-6">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{site.url}}/assets/images/carousel/WavingHands-Margaret-Slaugh-2019-2.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Canyon Pintado">
                <h3 class="card-title hp text-center">Canyon Pintado</h3>
                <div class="card-body bg-blue">
                  <p class="card-text">Canyon Pintado (Painted Canyon) has been occupied by prehistoric people <!-- for as long as 11,000 years -->
                  and was repeatedly visited by a variety of cultures throughout its long history.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{{site.url}}/canyon-pintado" class="btn btn-sm btn-danger">View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{site.url}}/assets/images/DC-building-icon.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" alt="Dragon Trail">
                <h3 class="card-title hp text-center">Dragon Trail</h3>
                <div class="card-body  bg-blue">
                  <p class="card-text">You will see rock art that has endured thousands of years and hold a
                  history of their, and hear the stories of local ghost towns, that were once thriving cities.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{{site.url}}/dragon-trail" class="btn btn-sm btn-danger">View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{site.url}}/assets/images/TCR-Wagon.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Trail Canyon Ranch">
                <h3 class="card-title hp text-center">Trail Canyon Ranch</h3>
                <div class="card-body  bg-blue">
                  <p class="card-text">Tucked away in East Douglas Creek near Rangely Colorado you can find a ranch that will take you back in time to a place filled with the spirit of the America West.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{{site.url}}/trail-canyon-ranch" class="btn btn-sm btn-danger">View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Third Parallax Section - Book Tour -->
  <div class="paralsec3 border-top border-bottom border-dark">
    <div class="row">
      <div class="col-md-8 offset-md-4">
        {% include Schedule-Tour.html %}
      </div>
    </div>
  </div>

  <!-- Fourth Parallax Section -->
  <!-- <div class="paral paralsec4">
    <h1 class="display-3">Here is a heading 3</h1>
    <p class="lead">Here is a short description 2</p>
    <p class="lead">
    <a class="btn btn-primary btn-lg btn-md" href="themes.html" role="button">Here is a button 3</a>
    </p>
  </div> -->

  <!-- Add More Parallax Sections Here -->

</main><!-- /.container -->
