---
layout: page
title: Trail Canyon Ranch
image: TCR-Wagon.jpg
permalink: /trail-canyon-ranch
---
    <div class="col">
      <div class="row  mb-5">
        <div class="col-9">
          {% include GT-header.html %}

          <h1>{{page.title}}</h1>

          <p>Trail Canyon Ranch has been known to hunters as a tranquile place to rest their head after a long day of hunting.</p>

          <p>Others have come to this place to work, play or relax. Just outside the city limits we are remote enough to operate off of
          solar power, wind, and generater. Phone service is limited and we do not have WIFI. Thoses that come here are looking to put
          aside the stress of city life and step back into a simpler lifestyle.</p>

          <p>Here you will find your way back to nature and reconect with your soul.

          <p>The ranch offers season round activities such as:</p>

          <div class="row">
            <div class="col">
              <ul class="fa-ul">
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Snow shoeing</li>
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Cross coutry skiing</li>
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Snowmobiling (must bring your own)</li>
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Horseback riding</li>
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Mountian bicking</li>
              </ul>
            </div>
            <div class="col">
              <ul class="fa-ul">
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Site Seeing</li>
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Hicking</li>
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Fishing</li>
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Hunting</li>
              </ul>
            </div>
          </div>

          <p>If you are looking for a place to stay that is outside of the ordinary please call (970) 657-3033 for available times and
          bookings.</p>

          {% include Prepaired.html %}
        </div>
        <div class="col border border-dirt border-top-0 border-right-0 border-bottom-0">
          {% include GT-nav.html %}
        </div>
      </div>
    </div>
