---
layout: page
title: Trail Canyon Ranch
image: TCR-Wagon.jpg
permalink: /trail-canyon-ranch
---
    <div class="col">
      <div class="row  mb-5">
        <div class="col-9">

          {% include GT-header.html %}

          <h1>{{page.title}}</h1>

          <p>Today, more than ever, people are seeking release from the ever-increasing stress of our fast-paced world. There is no
          better place then Trail Canyon Ranch to unwind and recharge your batteries.</p>

          <p>Trail Canyon Ranch is located in Northwestern Colorado. This area will remind you of "The Spirit of the American West".
          Come to this quiet corner of the world to enjoy the rugged natural beauty of the outdoors with wildlife viewing: elk, deer,
          bear, wild horses, and various birds. Bring your camera to capture this place out of time.</p>

          <p>The ranch is available for special events:</p>
          <ul class="fa-ul">
            <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Reunions</li>
            <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Weddings</li>
            <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Company Gatherings</li>
          </ul>

          <p>Plan a mini-vacation or a weekend getaway and rent one of our rustic cabins. We offer a fully equipped kitchen facility
          for your use. Or if you want to be pampered, make arrangements with us to provide home-cooked or gourmet meals.</p>

          <p>This area offers:</p>

          <div class="row">
            <div class="col">
              <ul class="fa-ul">
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Great Site Seeing</li>
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Ancient Indian Rock Art</li>
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Mountain biking*</li>
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Fossil Digs</li>
              </ul>
            </div>
            <div class="col">
              <ul class="fa-ul">
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Fishing</li>
                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Hiking</li>

                <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Hunting</li>
              </ul>
            </div>
          </div>

          <p>In the winter, bring your snowshoes, cross country skis, or snowmobile for a day in the mountains. If horseback riding is your
          passion, make arrangements to rid or bring your horses and enjoy the area.  Prior arrangements can be made for guided nature
          hikes.</p>

          <p>Our philosophy is to provide individuals, families, or groups with an experience that appeal to their interest. Most of all
          we offer quiet solitude where you can hear yourself think. </p>

          <p>We are located 90 miles from Grand Junction, Colorado and 40 miles from Rangely Colorado. This remote facility operates on
          solar power, wind, and a generator and cell service is limited. We do not offer television or phones in the cabins. Please come
          prepared to step back into a simpler lifestyle.</p>

          <p>If you are looking for a place to stay that is outside of the ordinary please call (970) 657-3033 for available times and
          bookings.</p>

          <p class="small">* To partake in these activities you will need to supply your equipment.</p>

        </div>
        <div class="col border border-dirt border-top-0 border-right-0 border-bottom-0">
          {% include GT-nav.html %}
        </div>
      </div>
    </div>
