    <footer class="wn-footer border-top border-bottom border-dark">
      <div class="row">
        <div class="col-md-3 d-none d-sm-block d-sm-none d-md-block">
          {% include gallery.html %}
        </div>
        <div class="col-md-9 col-sm-12 mt-5 pt-5">
          <div class="row">
            <div class="col-md-6 pr-5">
              <h3 class="text-center"><em>Disclaimer</em></h3>
              <blockquote class="blockquote text-center">
                <p class="mb-0">All or part of this operation is conducted on Public Lands under special permit from the U.S.
                Bureau of Land Management.</p>
              </blockquote>
            </div>

            <div class="col-md-6 col-sm-12 ">
              <hr class="d-block d-sm-none d-none d-sm-block d-md-none" />
              <ul>
                <li><a href="{{site.url}}/sitemap">Sitemap</a></li>
                <li><a href="{{site.url}}/privacy-policy">Privacy Policy</a></li>
                <li><a href="{{site.url}}/terms-conditions">Terms and Conditions</a></li>
                <!-- <li>Accessibility Statement</li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col text-center">
          <p class=small>Copyright &#9400; 2019 Cayon Pintato & Dragon Trail Rock Art Tours, Rangely, Co | <img src="https://www.kaffeinatedkodemonkey.com/assets/images/Email/logo-30.png" alt="Kaffeinated Kodemonkey"> Developed by Kaffeinated Kodemonkey 2019 - A Web Accessibility Agency</p>
        </div>
      </div>
      <hr />
    </footer>
    <!-- Bootstrap 4 Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
