<div class="shadow-lg p-3 mb-5 bg-blue text-dark rounded mt-1 d-block d-sm-none d-none d-sm-block d-md-none">
  {% if page.title == "Trail Canyon Ranch" %}
    <h2 class="text-center">"The Spirit of the American West."</h2>

    <hr />

    <p class="text-center mx-5 px-5">Come to this quiet corner of the world to enjoy the rugged natural beauty of the outdoors
    with wildlife viewing: <br />elk, deer, bear, wild horses, and various birds. </p>

    <hr />

  {% else %}
    <h2 class="text-center"><em>Spreading the word - Educating our children and neighbors</em></h2>

    <hr />

    <p class="px-5 text-center">Guided Rock Art Tours are designed to share the love and appreciation of ancient rock art known
    as petroglyphs and pictographs. It is beneficial in preserving the history of Native Americans and promotes the management
    and protection of these sites while bringing more allies into the ranks of caretakers and stewards to keep the history alive
    for future generations.</p>

    <p class="px-5 text-center">Enjoy and love these gifts from those who lived before us, and those who will live a hundred years from now.
    So generations to come will be able to enjoy and love them as well.</p>

    <hr />
  {% endif %}
</div>
