<div class="shadow-lg p-3 mb-5 bg-blue text-dark rounded mt-1">
  <h2 class="text-center"><em>Spreading the word - Educating our children and neighbors</em></h2>

  <hr />

  <p class="px-5 text-justify">Our guided Rock Art tours are designed to help people feel connected to those who came to this
  land before us and to feel a sense of ownership and stewardship in keeping the history alive for future generations.</p>

  <p class="px-5 text-justify">Sharing our love and appreciation of ancient art is beneficial in keeping the spirit of the Native
  Americas alive and enables better management and protection of sites and brings more allies into the ranks of caretakers and
  stewards. </p>

  <hr />

  <p class="small text-center">Enjoy and love these gifts from those who lived before us, and those who will live a hundred years from now.
  So generations to come will be able to enjoy and love them as well.</p>
</div>
