<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="{{site.url}}/">Guided Rock Art Tours</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="{{site.url}}/index-2.html">Index 2</a>
        </li> -->
        <li class="nav-item active">
          <a class="nav-link" href="{{site.url}}/guided-tours">Guided Tours</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/trail-canyon-ranch">Trail Canyon Ranch</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/history">History</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/gallery">Gallery</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.url}}/contact">Contact Us</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Things To Do</a>
        <div class="dropdown-menu">
          <div class="dropdown-divider"></div>
            <p>Activities</p>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://www.colorado.gov/pacific/rbwcd/boating" target="_blank">Boating</a>
            <a class="dropdown-item" href="https://www.colorado.gov/pacific/rbwcd/camping-0" target="_blank">Camping</a>
            <a class="dropdown-item" href="https://www.colorado.gov/pacific/rbwcd/fishing-0" target="_blank">Fishing</a>
            <a class="dropdown-item" href="https://www.colorado.gov/pacific/rbwcd/hunting-0" target="_blank">Hunting</a>
            <a class="dropdown-item" href="#" target="_blank">Sight Seeing</a>
          <div class="dropdown-divider"></div>
            <p>Events</p>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://www.rangelyohv.com/events" target="_blank">Rally</a>
            <a class="dropdown-item" href="https://www.rangelyohv.com/" target="_blank">ROAR</a>
            <a class="dropdown-item" href="https://www.coseaplanes.org/" target="_blank">Seaplanes</a>
          <div class="dropdown-divider"></div>
            <p>Musems</p>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://www.rangelyoutdoormuseum.org/" target="_blank">Rangely Outdoor Musem</a>
            <a class="dropdown-item" href="https://www.rangelyautomuseum.com/" target="_blank">Rangely Automotive Musem</a>
          <div class="dropdown-divider"></div>
        </div>
      </ul>

    </div>
  </nav>
</header>
