<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="{{site.baseurl}}/">Guided Rock Art Tours</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="{{site.baseurl}}/index-2.html">Index 2</a>
        </li> -->
        <li class="nav-item active">
          <a class="nav-link" href="{{site.baseurl}}/guided-tours">Guided Tours</a>
        </li>
      <!--  <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/history">History</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/about">About</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/Things-To-Do">Things To Do</a>
        </li> -->
      </ul>

    </div>
  </nav>
</header>
