<hr />
<h2>Come Prepaired</h2>

<p>Rangely Colorado is a dry desert. The summer months can be hot with mild spring and fall. The weather can change on a dime from
Sunny and hot to cool and rainy. We advise you to either dress in layers or bring a light jacket. As for foot wear tennies or hicking
boots are recommended.</p>

<div class="row">
  <div class="col">
    <p><strong>Itmes to bring:</strong></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Camera</li>
      <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Snacks</li>
      <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Sunscreen</li>
      <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Bug Spray</li>
      <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Chapstick</li>
    </ul>
  </div>
  <div class="col">
    <ul class="fa-ul">
      <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Hand wipes* it can get dusty</li>
      <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Bandana*</li>
      <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Walking Stick*</li>
      <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Gloves*</li>
      <li><span class="fa-li" ><i class="far fa-check-circle"></i></span>Binoculars*</li>
    </lu>
  </div>
  <div class="col mt-5">
    <p><a href="{{site.baseurl}}/book-guided-tour" title="Hold your spot" class="btn btn-lg btn-danger align-middle">Pay Now to hold your spot!</a></p>
  </div>
</div>
<small>* Optional item to bring.</small>
