

body {
  background-color: #DFD3C3;
  color: #111;
  overflow-x: hidden;
}
.navbar-dark{
  background-color: #607D8B;
}
article{
  margin-top: 75px;
  min-height: 650px;
}
.card-title.hp{
  background-color: #698ca2;
  color: #ffffff;
  margin-bottom:  0;
}
.hp-form{
  margin-top: 25px;
}
.bg-mud {
    background-color: #814045;
    color: #fff;
}
.border-dirt{
  border-color: #7c7060 !important;
}
.btn-danger{
  background-color: #B85340;
  border-color: #B85340;
}

.btn-danger:hover {
  color: #fff;
  background-color: #964436;
  border-color: #964436;
}
.btn-outline-danger{
  color: #B85340;
  border-color: #B85340;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hp-form{
    margin-top: 125px;
    position: fixed;
  }
  .guide{
    min-height: 1200px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    background-image: url("../images/jayne.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-position-y: 50px;
    background-repeat: no-repeat;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hp-form{
    margin-top: 12%;
    position: fixed;
  }
  .guide{
    min-height: 1200px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    background-image: url("../images/jayne.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-position-y: 50px;
    background-repeat: no-repeat;
  }
}

/* Footer */
.wn-footer {
  padding: 2rem 0;
  /*text-align: center;*/
  color: white;
  background-color: #607D8B;
  /*border-top: .05rem solid #e5e5e5;*/
}

.wn-footer a {
color: #814045;
}

.bg-blue{
  background-color: #9ba9b5;
}

.booking{
  background-color: #814045;
}
.SW6183{
  background-color: #D1D2C5;
}
/********************************/
/* Header Parallax Element Style*/
.paral {
  /*min-height: 200px;*/
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}
/* Paragraph for Parallax Section */
.paral p {
  font-size: 20px;
  color: /*#f5f5f5;*/ #422721;
  text-align: center;
  line-height: 30px;
}

/* Heading for Parallax Section */
.paral h1 {
  color: /*rgba(255, 255, 255, 0.8);*/ #B85340;
  font-size: 60px;
  text-align: center;
  padding-top: 40px;
  line-height: 100px;
}
/* Image for Parallax Section */
.paralsec1 {
  min-height: 400px;
  max-height: 600px;
  /*background-image: url("/assets/images/Waving-Hands-Margaret-Slaugh-2019.jpg");*/
}

.paralsec2 {
  background-image: url("../images/four-mile-canyon.jpg");
}

.paralsec3 {
  background-image: url("../images/map.jpg");
}
.paralsec4 {
  min-height: 600px;
  background-image: url("../images/Waving-Hands-Margaret-Slaugh-2019.jpg");
}

/* Add more images for more sections */
/* Remove Bottom Margin from Jumbotron */
.jumbotron{margin-bottom: 0;}
/********************************/
