<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <article>
      <div class="row">
        <div class="col-3 ml-3">
          <p class="text-center"><img src="{{site.baseurl}}/assets/images/{{page.image}}" Style="width: 100%;" class="img-thumbnail" alt="Jayn your tour guide"></p>
          <hr />
        
            <h3>Contact Information</h3>
            <p>Name: Jayne Kuck</p>
            <p>Phone: (970) 675-3033</p>
            <p>Thank you for showing an intrest in our histotry</p>

        </div>

        {{ content }}
      </div>
    </article>

      {% include footer.html %}

  </body>

</html>
