<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <article>
      <div class="row">
        <div class="col-3 ml-3">
          <p class="text-center"><img src="{{site.url}}/assets/images/{{page.image}}" Style="width: 100%;" class="img-thumbnail" alt="Jayn your tour guide"></p>
          <hr />

          <h3 class="text-center">Contact Information</h3>
          <div class="row mt-4">
            <div class="col ml-2">

              <p>Name: Jayne Kuck</p>
              <p>Phone: (970) 675-3033</p>
            </div>
            <div class="col">
              <p><a href="https://guidedrockarttours.youcanbook.me/" data-ycbm-modal="true" class="btn btn-lg btn-info">Schedule Guided <br /> Rock Art Tour</a></p>
            </div>
          </div>
          <p class="text-center">Thank you for showing an interest in our history</p>

          <hr />

          {% include Schedule-Tour.html %}


        </div>

        {{ content }}
      </div>
    </article>

      {% include footer.html %}

  </body>

</html>
